<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.hegenberg.BetterTouchProcessPrioWatcher</string>
	<key>Nice</key>
	<integer>-2</integer>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/BetterTouchTool/BetterTouchProcessPrioWatcher.app/Contents/MacOS/BetterTouchProcessPrioWatcher</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/BetterTouchTool.log</string>
	<key>StandardOutPath</key>
	<string>/Library/Logs/BetterTouchTool.log</string>
</dict>
</plist>
