{#- get dict of user configurations -#}
{%- set btt = salt['pillar.get']('tool:btt', {'users': {}}, merge=True) -%}
{%- set users = {} -%}

{%- set global_user_settings = ['btt'] %}

{#- rejectattr filter does not fit with mapping. need to filter out users before merging default values -#}
{%- for tool_user, tool_user_conf in salt['pillar.get']('tool:users', {}).items() -%}
{#- by default, install tool if it was targeted. explicitly deny for a specific user to override -#}
  {%- if tool_user_conf.get('btt', True) -%}
    {%- do users.update({tool_user: {'btt': {}}}) %}
    {%- for global_setting in global_user_settings %}
      {%- if tool_user_conf.get(global_setting) is not equalto None %}
        {%- do users[tool_user].update({global_setting: salt['defaults.deepcopy'](tool_user_conf[global_setting])}) %}
      {%- endif %}
    {%- endfor %}
  {%- endif -%}
{%- endfor -%}

{%- do salt['defaults.merge'](users, btt.get('users', {})) -%}

{#- update all user configuration for btt with its defaults -#}
{%- do salt['defaults.update'](users, {'btt': btt.get('defaults', {})}) -%}

{#- embed user information that will be reused (home, primary group, shell, paths) -#}
{%- for user in users.keys() -%}
  {%- do users[user].update({'_btt': {}}) -%}
  {%- do users[user].update({'name': user}) -%}
  {%- set user_info = salt['user.info'](user) -%}
  {%- load_yaml as user_info -%}
group: {{ salt['user.primary_group'](user) }}
home: {{ user_info.home }}
shell: {{ user_info.shell.split('/')[-1] }}
  {%- endload -%}
  {%- do users[user].update(salt['defaults.merge'](user_info, users[user], in_place=False)) -%}

  {%- if users[user].xdg | default('True') -%}
    {#- cannot use environ.get because it only has access to current env, not a specific user's -#}
    {%- load_yaml as xdg -%}
cache: {{ salt['cmd.run']('[ -n "$XDG_CACHE_HOME" ] && echo "${XDG_CACHE_HOME}" || echo "${HOME}/.cache"', runas=user) }}
config: {{ salt['cmd.run']('[ -n "$XDG_CONFIG_HOME" ] && echo "${XDG_CONFIG_HOME}" || echo "${HOME}/.config"', runas=user) }}
data: {{ salt['cmd.run']('[ -n "$XDG_DATA_HOME" ] && echo "${XDG_DATA_HOME}" || echo "${HOME}/.local/share"', runas=user) }}
state: {{ salt['cmd.run']('[ -n "$XDG_STATE_HOME" ] && echo "${XDG_STATE_HOME}" || echo "${HOME}/.local/state"', runas=user) }}
    {%- endload -%}
    {%- do users[user].update({'xdg': xdg}) -%}
    {%- do users[user]['_btt'].update({'confdir': xdg.config ~ '/btt'}) -%}
  {%- else -%}
    {%- do users[user]['_btt'].update({'confdir': users[user].home}) -%}
  {%- endif -%}
{%- endfor -%}

{%- do btt.update({'users': users.values() | list}) -%}
